absl-py
tensorflow_datasets
meta-model@ git+git://github.com/jackd/meta-model.git
composite-layers@ git+git://github.com/jackd/composite-layers.git
events-tfds@ git+git://github.com/jackd/events-tfds.git
numba-stream@ git+git://github.com/jackd/numba-stream.git
wtftf@ git+git://github.com/jackd/wtftf.git
kblocks@ git+git://github.com/jackd/kblocks.git@v0.1.0
